<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
    span#passwordError {
        padding-top: 9px !important;
        display: block;
    }
</style>
<body>
    <div style="max-width: 600px; margin: 0 auto;background: #FBFBFF;">
        <div style="border: 1px solid #5258FC;border-radius: 20px;padding: 15px 30px; text-align: center;"><img src="/images/Frame.png"
                style="width: 200px;"></div>
        <div style="padding: 4rem 5rem; text-align: center;">
            <div id="input-section" class="form-group" style="text-align: left;">
                <label for="usr" style="display: block;width: 100%;color: #5B7081;font-size: 20px;">New Password</label>
            <div style="position: relative;">
                <input type="hidden" id="tokenValue" name="token" value="<%= userData.token %>" class="form-control">
                <input type="password" id="password" name="password" class="form-control" id="usr" style="
                border: 0px;
                border-bottom: 1.99px solid #49545A;
                background: transparent;
                width: 100%;
                outline: 0px; 
                height: 50px;
                font-size: 16px;">
            <img id="passwordToggle" data-view="false" src="/images/eye-close.png" style="
            position: absolute;
            bottom: 14px;
            right: 0px;
            width: 20px;">
            </div>
            </div>
            <div style="text-align: left;">
                <span id="passwordError" style="color: red;"></span>
            </div>

            <div id="submit-section" style="padding: 15px 0px 30px;text-align: center;margin-top: 5rem;">
                <button id="resetpasswordButton" style="color: #fff;font-size: 22px;background: #5258FC;text-transform: uppercase;padding: 20px 50px;border-radius: 50px;border: 0px;width:100%">Reset</a>
            </div>
            <span id="passwordSuccess" style="color: green;font-size: 22px;font-weight: 600;"></span>
            <span id="passwordServerError" style="color: red;font-size: 22px;font-weight: 600;"></span>
        </div>
    </div>
    <script>
        // AJAX call when the button is clicked
        $(document).ready(function() {
        $("#passwordToggle").on("click", function() {
            var dataView = $(this).data("view");
            
            if (dataView === "false") {
                // Perform actions when data-view is "false"
                // For example, change the image source and update data-view attribute.
                $(this).attr("src", "/images/eye-open.png");
                $(this).data("view", "true");
                $('#password').attr('type', 'text');
                
                console.log("false");
            } else {
                // Perform actions when data-view is "true"
                // For example, change the image source and update data-view attribute.
                $(this).attr("src", "/images/eye-close.png");
                $(this).data("view", "false");
                $('#password').attr('type', 'password');

                console.log("true");
            }
        });
        var validate = true;
        $('#password').on('keyup', function() {
            const password = $(this).val();
            const passwordError = $('#passwordError');
            var passwordRegexOn = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\w\s]).{8,15}$/;
            if (!passwordRegexOn.test(password) && validate == false) {
            passwordError.text('Password must contain at least one uppercase, one lowercase, one special character, and be 8-15 characters long');
            } else {
            passwordError.empty(); // Clear error message
            }
        });
        $('#resetpasswordButton').on('click', function() {
            var requestValue = {};
            validate = false ;
            const password = $('#password').val();
            const tokenVal = $('#tokenValue').val();
            const passwordError = $('#passwordError');
            if (tokenVal == "") {
                passwordError.empty();
                passwordError.text('Unauthorized request!!');
                return false;
            } else {
                requestValue.token = tokenVal;
                passwordError.empty(); // Clear error message
            }

            var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\w\s]).{8,15}$/;

            if (!passwordRegex.test(password)) {
                $('#passwordError').text('Password must contain at least one uppercase, one lowercase, one special character, and be 8-15 characters long').css('color', 'red');
                return false;
            } else {
                requestValue.password = password;
                passwordError.empty(); // Clear error message
            }
            var successMessage = $('#passwordSuccess');
            var serverError = $('#passwordServerError');
            $.ajax({
                url: '/api/v1/user/update/resetpassword', // The server endpoint to fetch data
                method: 'POST',
                contentType: 'application/json', // Set the content type to JSON
                data: JSON.stringify(requestValue), // Convert data to JSON string
                success: function(data) {
                    if(data.isSuccess == true){
                        successMessage.text(data.message);
                        serverError.empty();
                    }else{
                        successMessage.empty();
                        serverError.text("Something Went Wrong!!");
                    }
                    $('#submit-section').remove();
                    $('#input-section').remove();
                },
                error: function(error) {
                    $('#submit-section').remove();
                    $('#input-section').remove();
                    successMessage.empty();
                    serverError.text("Something Went Wrong!!");
                    console.error(error);
                }
            });
        });
    });
    </script>
</body>

</html>